@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

@layer components {
  .btn {
    @apply inline-block px-6 py-2.5 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg transition duration-150 ease-in-out;
  }

  .btn-default {
    @apply bg-blue-600 hover:bg-blue-700 focus:bg-blue-700 active:bg-blue-800;
  }

  .btn-danger {
    @apply bg-red-600 hover:bg-red-700 hover:bg-red-700 active:bg-blue-800;
  }

  .btn:disabled {
    @apply btn-default transition duration-150 ease-in-out pointer-events-none opacity-60;
  }

}
